In [38]:
import pickle
import numpy as np
import pandas as pd
import spotipy as sp
import config
import config
import pandas as pd
from time import sleep
from random import randint
import spotipy
import json
from spotipy.oauth2 import SpotifyClientCredentials
import random

In [15]:
def load(filename = "filename.pickle"): 
    try: 
        with open(filename, "rb") as f: 
            return pickle.load(f) 
    except FileNotFoundError: 
        print("File not found!")

In [16]:
scaler2 = load("Model/scaler.pickle")
scaler2

StandardScaler()

In [17]:
kmeans2 = load("Model/kmeans_4.pickle")
kmeans2

KMeans(n_clusters=20, random_state=1234)

In [32]:
df=pd.read_csv("Data/hot100.csv")
clus_df=pd.read_csv("Data/clustered_df.csv")
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id=config.client_id,
                                                           client_secret=config.client_secret))

In [23]:
df

                                     artists                           titles
0                               taylor swift  all too well (taylor's version)
1                                      adele                       easy on me
2              the kid laroi & justin bieber                             stay
3                    lil nas x & jack harlow                    industry baby
4   silk sonic (bruno mars & anderson .paak)            smokin out the window
..                                       ...                              ...
95          swedish house mafia & the weeknd                  moth to a flame
96                              cody johnson                   'til you can't
97                                  doja cat                            woman
98                                the weeknd                   take my breath
99                                    giveon                      for tonight

[100 rows x 2 columns]

In [25]:
clus_df

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,cluster
0,0.414,0.404,0,-9.928,0,0.0499,0.271000,0.000000,0.3000,0.2240,71.105,354320,4,6
1,0.454,0.910,6,-7.766,1,0.0448,0.086600,0.099600,0.1160,0.6290,125.116,354520,4,2
2,0.502,0.912,1,-4.556,1,0.0564,0.000025,0.000173,0.1060,0.7200,116.761,301920,4,5
3,0.547,0.257,0,-12.358,1,0.0252,0.907000,0.183000,0.0935,0.1690,75.752,187867,4,6
4,0.369,0.762,10,-8.993,1,0.0464,0.220000,0.000028,0.5790,0.6440,84.957,302107,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12233,0.666,0.537,8,-10.467,1,0.2490,0.477000,0.020800,0.0656,0.6530,93.002,271530,4,0
12234,0.785,0.394,4,-8.010,1,0.0392,0.572000,0.000801,0.1110,0.1310,100.002,258747,4,6
12235,0.836,0.678,5,-8.206,0,0.0990,0.012600,0.002050,0.3690,0.6330,116.020,253711,4,1
12236,0.569,0.409,2,-10.612,1,0.0396,0.059300,0.296000,0.0971,0.0948,118.028,233465,5,6
12237,0.785,0.367,4,-8.483,0,0.0363,0.113000,0.063300,0.0902,0.4680,90.003,225341,4,1

In [33]:
choice=["is a great choice!"," is amazing!","is cool!"]
user=""
def user_selection():
    user=input("Please enter the title of a hot song: ")
    if user in df.values:
        print(user,random.choice(choice),"You might like this one too:",random.choice(df["titles"]))
    elif user in clus_df.values:
        print(user, )
    else: 
        print("Sorry!",user,"is not in the hot list. Try another one!")

In [37]:
user_selection()

Please enter the title of a hot song: summertime
Sorry! summertime is not in the hot list. Try another one!